[Unit]
Description=Load Spice Agent

[Service]
Type=forking
ExecStartPre=/bin/mkdir -p /var/run/spice-vdagentd ; /bin/rm -f /var/run/spice-vdagentd/spice-vdagent-sock
ExecStart=/usr/sbin/spice-vdagentd -u /dev/uinput 

[Install]
WantedBy=multi-user.target

